.colored_link a {
    color: orangered;
}

.colored_link a:hover {
    color: red;
}

.margined_button {
    margin-top: 24px;
    margin-bottom: 24px;
}

@font-face {
    font-family: google_sans;
    src: url('google_sans.ttf');
}

body {
    font-family: google_sans, sans-serif
}