{% extends 'base.html' %}

{% set title='суммы по категориям' %}

{% block title %}{{ title }}{% endblock %}

{% block page_content %}

    <div class="page-header">
        <h1>{{ title }}</h1>
    </div>

    <table class="table">
        <tr>
            <th>год</th>
            <th></th>
            <th></th>
        </tr>
        {% for year in years %}
            <tr>
                <td>{{ year }}</td>
                <td>
                    <a href="{{ url_for('main.by_categories_table',year=year,record_type_id=1) }}">
                        расходы
                    </a>
                </td>
                <td>
                    <a href="{{ url_for('main.by_categories_table',year=year,record_type_id=2) }}">
                        доходы
                    </a>
                </td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}