{% extends 'base.html' %}

{% set title='сумма расходов по месяцам' %}

{% block title %}{{ title }}{% endblock %}

{% block page_content %}

    <div class="page-header">
        <h1>{{ title }}</h1>
    </div>

    <table class="table">
        <tr>
            <th>год</th>
            <th>месяц</th>
            <th>сумма</th>
        </tr>
        {% for month_sum in month_sums %}
            <tr>
                <td>{{ month_sum.year }}</td>
                <td>{{ month_names[month_sum.month - 1] }}</td>
                <td>{{ month_sum.sum }}</td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}